VITE_API_URL=
VITE_DEMO_MODE=true
VITE_FALLBACK_TELEGRAM_USER_ID=demo-telegram-user
VITE_FREE_DELIVERY_THRESHOLD=3000
VITE_PAID_DELIVERY_PRICE=300
VITE_PICKUP_ADDRESS=Спиридона Михайлова, 1
VITE_BASE_PATH=/
